body{
    background-color:  red;
    overflow-x: hidden;
}

#navbar{
    background-color: black;
    width: 100%;
}

.dropdown-menu{
    border-radius: 0px;
    border: none;
}

a, a:hover{
    color: #fff;
    text-decoration: none;
}

#middleRow{
    background-color: black;
    color: #fff;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: #fff;
}

.fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.fa-instagram   {
    background: #2e5e86;
    color: #fff
}

#footer-text{
    margin-top: 15px;
    color: black;
}

.container {
    width: 1000px;
    height: 550px;
}

.carousel{
    margin-left: -20px;
    margin-right: -20px;
}

#logoDiv{
    background-color: red;
    margin-right: -20px;
    width: 100%;
}

#mission{
    margin-bottom: -20px;
}

.btn-secondary{
    margin-bottom: 20px;
}

.mainColumn{
    margin-left: 10px;
    margin-top: 10px;
}

#contactInfo{
    color: black;
    margin-top: 5px;
}

.emailAddy{
    color: black;
}

#aboutRow{
    color: black;
    background-image: url('../../assets/images/test5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutPhoto{
    height: 565px;
    width: 377px;
}

#missionRow{
    color: black;
    background-color: red;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
}

#valuesRow{
    background-image: url('../../assets/images/test6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

#aboutParag, #valuesParag{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#valuesPic{
    background-image: url('../../assets/images/test7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#valuesCol{
    color: #fff;
    background: rgba(39, 38, 38, 0.897);
}

.responsiveCal{
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
    margin: 10px;
}

.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;   
}

#calendarHead{
    color: #fff;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-shadow: 2px 2px rgba(39, 38, 38, 0.897);
}

#calendarCol{
    background-image: url("../images/test8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#calendarRow{
    margin-bottom: 40px;
}

#calHeaderDiv{
    border-radius: 0px;
    border-bottom: black;
    border-bottom-width: 20px;
}

#donatePicCol{
    background-image: url("../images/test9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#donateCardCol{
    width: 100%;
    padding: 0px;
}

#donateCard{
    width: 100%;
    border-radius: 0px;
    border: none;
}

.mb-3{
    margin: 0px!important;
}

#donateTitle{
    color: #dc3545;
}

#partnerRow{
    display: flex!important;
    margin-bottom: 10px;
}

.partnerCol{
    padding-left: 0px!important;
    margin-bottom: 10px;
}

.partnerCard{
    border-radius: 0px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.partnerButton, .volunteerButton{
    border-radius: 0px;
}

.card-img-top{
    border-radius: 0px;
    object-fit: cover;
    height: 23vw;
}

@media only screen and (max-width: 500px)  {
    .container {
        width: 500px;
        height: 225px;
    }
}

@media only screen and (max-width: 1023px)  {
    #aboutUs{
        background: rgba(39, 38, 38, 0.897);
        color: #fff;
    }
}

@media only screen and (max-width: 767px)   {
    #aboutUs{
        background-image: url('../../assets/images/test5.jpeg');
        color: #fff;
        background: rgba(39, 38, 38, 0.897);
    }
}